{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}
{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 offset md-3">
            <div class="card-body">
                <h1>
                    {% trans "Email Addresses" %}
                </h1>
            {% if emailaddresses %}
            <p>{% trans 'The following email addresses are associated with your account:' %}</p>
            {% url 'account_email' as email_url %}
            {% element form form=form action=email_url method="post" %}
                {% slot body %}
                    {% csrf_token %}
                    {% for radio in emailaddress_radios %}
                        {% with emailaddress=radio.emailaddress %}
                            {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                {% slot label %}
                                    {{ emailaddress.email }}
                                    {% if emailaddress.verified %}
                                        {% element badge tags="success,email,verified" %}
                                            {% translate "Verified" %}
                                        {% endelement %}
                                    {% else %}
                                        {% element badge tags="warning,email,unverified" %}
                                            {% translate "Unverified" %}
                                        {% endelement %}
                                    {% endif %}
                                    {% if emailaddress.primary %}
                                        {% element badge tags="email,primary" %}
                                            {% translate "Primary" %}
                                        {% endelement %}
                                    {% endif %}
                                {% endslot %}
                            {% endelement %}
                        {% endwith %}
                    {% endfor %}
                {% endslot %}
                {% slot actions %}
                    <button type="submit" name="action_primary" class="btn btn-primary">
                        {% trans 'Make Primary' %}
                    </button>
                    <button type="submit" name="action_send" class="btn btn-primary">
                        {% trans 'Re-send Verification' %}
                    </button>
                    <button type ="submit" class="btn btn-danger" name="action_remove">
                        {% trans 'Remove' %}
                    </button>
                {% endslot %}
            {% endelement %}
        {% else %}
            {% include "account/snippets/warn_no_email.html" %}
        {% endif %}
        {% if can_add_email %}
            <h2 class="mt-5">
                {% trans "Add Email Address" %}
            </h2>
            {% url 'account_email' as action_url %}
            {% element form form=form method="post" action=action_url %}
                Hoi bef bod
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                befac
                {% slot actions %}
                    <button type="submit" name="action_add" class="btn btn-success">
                        {% trans "Add Email" %}
                    </button>
                {% endslot %}
            {% endelement %}
        {% endif %}
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}
