{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
</form>

{% if SOCIALACCOUNT_ENABLED %}
<div>

    <p> OR</p>
    {% for sociallogin in socialaccount.providers %}
        {% if sociallogin.id == "facebook" or sociallogin.id == "google" %}
        <a href="{{ sociallogin.get.login_url }}" class="btn btn-{{ sociallogin.id }}">
            Sign in with {{ sociallogin.name }}
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
