{% extends "base.html" %}
{% load allauth %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}


{% block body_class %}no-bg-image{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 offset md-3">
            <div class="form-signup card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Sign In</h2>
                    <div class="mt-4">Don't have an account?
                        <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
                    </div>
                    <form method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary sign-in" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                <div class="text-center">
                    <p>OR</p>
                    <hr class="w-full">
                </div>
                <p class="text-center">Sign in with a third party</p>

                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
