{% extends "base.html" %}
{% load allauth i18n %}
{% load widget_tweaks %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 offset md-3">
            <div class="card-body">
                <h1 class="mb-4 mt-5">
                    {% trans "Log out" %}
                </h1>
                <p>{% trans 'Are you sure you want to log out?' %}</p>
                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                {% slot body %}
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                {% endslot %}
                {% slot actions %}
                <button class="btn btn-primary btn-block mt-4" type="submit">
                    {% trans 'Log out' %}
                </button>
                <a href="{% url 'inventory' %}" class="btn btn-danger btn-block mt-4">Cancel</a>
                {% endslot %}
                {% endelement %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>
