{% load allauth socialaccount %}

<ul class="social-account-login text-center">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "facebook" %}
                    {% provider_login_url provider process="login" as href %}
                    <li>
                        <a href="{{ href }}" class="btn btn-facebook">{{ provider.name }}</a>
                    </li>
            {% elif provider.id == "google" %}
            {% provider_login_url provider process="login" as href %}
            <li>
                <a href="{{ href }}" class="btn btn-google">{{ provider.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
</ul>

