{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<form id="delete-category-form" method="POST" class="hide">
    {% csrf_token %}
    <input type="hidden" name="category" id="delete-category-id">
</form>

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>


<div class="container get-started">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 my5">
            {% if categories|length == 0 %}
                <h2 class="text-center mb-4 mt-4">Categories</h2>
            {% endif %}
            <div class="form-signup card list-items-form mb-5">
                <h4>Add Category<i class="fa-solid fa-plus btn list-btn" id="toggle-category"></i></h4>
                <form method="POST" class="items-form hide" id="category-form" action="{% url 'add_category' %}">
                    {% csrf_token %}
                    {{ category_form|crispy }}
                    <button type="submit" class="btn btn danger">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3 class="text-center mb-4">My Categories</h3>
        <div class="row">
        {% for category in categories %}
            <div class="col-md-4 mb-5 text-center">
                <div class="category-container text-center mx-auto">
                        <form method="POST" action="{% url 'edit_category' category.id %}">
                            {% csrf_token %}
                            <div class="category-input">
                                <input type="text" name="name" class="form-control category-name text-center" value="{{ category.name }}" readonly>
                            </div>
                            <hr>
                            <div class="icons ms-0 justify-content-center mt-3">
                                <button type="button" class="edit-category-link mb-2">Edit <i class="fa-solid fa-pencil edit-icon"></i></button>
                                <button type="button" class="delete-category-link mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-category-id="{{ category.id }}">Delete <i class="fa-regular fa-trash-can delete-icon"></i></button>
                            </div>
                            <div class="save-button">
                                <button type="submit" name="name" class="btn btn-success hide save-link mt-4">Save</button>
                            </div>
                    </form>
                </div>
            </div>
        {% empty %}
        <p class="text-center">You have no categories yet</p>
        {% endfor %}
        </div>
</div>
{% endblock %}