{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container mt-4">
    <h3 class="text-center mb-4">My Inventory</h3>
    <div class="row">
        {% for inventory in inventories %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ inventory.qr_code}}" class="card-img-top" alt="QR code for {{ inventory.name }}" />
                <div class="card-body">
                    <h4 class="card-title">{{ inventory.name }}</h4>
                    <p class="card-text">{{ inventory.category }} </p>
                    <a href="{{ inventory.qr_code }}" download>Download </a><i class="fa-solid fa-download"></i>
                    <a href="{% url 'inventory_detail' inventory.pk %}" class="btn btn-secondary">View details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">You have no inventory list yet</p>
        {% endfor %}
    </div>
</div>
{% endblock %}