{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container mt-4">
    <h3 class="text-center mb-4">My Inventory</h3>
    <div class="row">
        {% for inventory in inventories %}
        <div class="col-md-4 mb-4">
            <div class="card qr-container">
                    <h6 class="card-title text-center">{{ inventory.name }}</h6>
                    <p class="card-text text-center qr-category">Category: {{ inventory.category }} </p>
                    <div class="qr-code-image">
                <img src="{{ inventory.qr_code}}" class="card-img-top qr-img" alt="QR code for {{ inventory.name }}" />
                    </div>
                <div class="card-body download-share">
                    <a class="link" href="{{ inventory.qr_code }}" download>Download <i class="fa-solid fa-download"></i></a>
                    <a class="link" href="{{ inventory.qr_code }}"Share>Share <i class="fa-solid fa-share-from-square"></i></a>
                </div>
            </div>
            <a href="{% url 'inventory_detail' inventory.pk %}" class="btn btn-secondary details-btn details-btn">View details</a>
        </div>
        {% empty %}
        <p class="text-center">You have no inventory list yet</p>
        {% endfor %}
    </div>
</div>
{% endblock %}