{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container mt-4">
    <h1>{{ inventory.name}} </h1>
    <p>Category: {{inventory.category }} </p>
    <img src="{{ inventory.qr_code}}" alt="QR code for {{ inventory.name }}" />
    <div class="share-download">
        <a href="{{ inventory.qr_code }}" download ="{{ inventory.name }}.png">Download</a><i class="fa-solid fa-download"></i>
        <i class="fa-solid fa-share-from-square">Share</i>
    </div>
</div>