{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container mt-4">
    <h3>{{ inventory.name}} </h3>
    <p>Category: {{inventory.category }} </p>
    <div class="inventory-items-list">
        <h4>Items</h4>
        <ul>
            {% for item in inventory.items.all %}
            <li>
                <div class="inventory-items">
                <p> {{ item.name }} </p>
            </li>
        </ul>
            {% endfor %}

        <form method="POST" action="{ % url 'inventory_detail' inventory.pk %}">
            {% csrf_token %}
            {{ item_form | crispy }}
            <input type="submit" value="Add Item"/>
        </div>
    </div>
</div>
{% endblock %}