{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<form id="delete-item-form" method="POST" class="hide">
    {% csrf_token %}
</form>

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 my5">
            <div class="form-signup card list-items-form">
            <h3>{{ inventory.name}} </h3>
            <p>Category: {{inventory.category }} </p>
            <ul>
                {% for item in inventory.item.all %}
                <li>
                    <p> {{ item.name }}</p>
                </li>
                {% endfor %}
                </ul>
                <form method="POST" action="{% url 'inventory_detail' pk=inventory.id %}">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="form-row d-flex align-items-center">
                        {{ form.id }}
                        <div class="items-input">
                        {{ form | crispy }}
                        </div>
                        <div class="icons ml-auto">
                            {% if form.instance.id %}
                                <a href="#" class="edit-link"><i class="fa-solid fa-pencil edit-icon"></i></a>
                                <a href="{% url 'delete_item' pk=inventory.id item_id=form.instance.id %}" class="delete-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-id="{{ form.instance.id }}"><i class="fa-regular fa-trash-can delete-icon"></i></a>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" name="add_item" class="btn btn-success" id="add-item">Add item <i class="fa-solid fa-plus"></i></button>
                    <button type="submit" name="save" class="btn btn-danger" id="save">Save list</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}