{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="landing-page d-flex align-items-center justify-content-center">
    <div class="container welcome-message">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 p-4 rounded semi-transparent">
                <h4 class="text-center">Welcome to Inventory Manager</h4>
                <p>
                    Discover the simplicity of organizing and managing your belongings with Inventory Manager.
                    Our platform empowers you to create and maintain detailed inventories of your possessions,
                    making it easy to track, share, and find what you need. Create an account to get started!
                </p>
                <div class="d-flex justify-content-center">
                    <a href="{ url 'signup' %}" class="btn gray-btn mx-2">Sign Up</a>
                    <a href="{ url 'login' %}" class="btn gray-btn mx-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}