{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<style>
    body {
        background-image:none; /* Override the background image */
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 my5">
            <div class="form-signup card list-items-form">
            <div class="saved-list">
                <h3>{{ inventory.name }}</h3>
                <p>Category: {{ inventory.category }}</p>
                <p><strong>Items</strong></p>
                    {% for item in inventory.items.all %}
                    <p>{{ item.name }} </p>
                    {% endfor %}
                    <div class="action-buttons">
                        {% if can_edit %}
                            <a href="{% url 'inventory_detail' pk=inventory.id %}" class="btn btn-primary">Edit List</a>
                        {% endif %}
                        {% if can_delete %}
                            <a href="#" class="btn btn-danger delete-list" data-bs-toggle="modal" data-bs-target="#deleteModal"  data-list-id="{{ inventory.id }}">Delete List</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}