{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body_class %}no-bg-image{% endblock %}
{% block content %}

<form id="delete-list-form" method="POST" class="hide">
    {% csrf_token %}
</form>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 my5">
            <div class="form-signup card list-items-form">
            <div class="saved-list">
                <h3>{{ inventory.name }}</h3>
                <h6>Category: {{ inventory.category }}</h6>
                <h5><strong>Items</strong></h5>
                    {% for item in inventory.items.all %}
                    <p>{{ item.name }} </p>
                    {% endfor %}
                    <div class="action-buttons text-center">
                        {% if is_owner %}
                            <a href="{% url 'inventory_detail' pk=inventory.id %}?edit=true" class="btn btn-primary">Edit List</a>
                            <a href="{% url 'delete_list' pk=inventory.id %}" class="btn btn-danger delete-list" data-bs-toggle="modal" data-bs-target="#deleteModal"  data-list-id="{{ inventory.id }}">Delete List</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}