* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Background image on landing page */

body  {
    background-image: url('/static/images/background_image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.no-bg-image {
    background-image: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }


/* Landing page*/

/* Welcome container */
.welcome-message {
    margin-top: 15%;
    color: black;
}

.semi-transparent {
    background-color: rgba(255, 255, 255, 0.7);
}

.gray-btn {
    background: #333333;
    color:white;
}

.gray-btn:hover {
    background: #222121;
    color:#E37F4D;
}

/* Navbar links */
.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: #E37F4D;
}

.navbar .nav-link.active {
    color: #E37F4D;
}

.nav-link:focus, .dropdown-menu:focus {
    outline: none;
    box-shadow: none;
}

.navbar-icon {
    color: white;
}

/* Removes the white background */
.dropdown-item,
.dropdown-menu {
    background: #212529;
    color: white;
    border:none;
}

.dropdown-item:hover,
.dropdown-menu:hover {
    background: #212529;
    color: #E37F4D;
    border: none;
}


/* Sign up form styles */
.form-signup {
    margin: auto;
    max-width: 350px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.form-signup label {
    color: black;
    margin-bottom: 0.5rem;
}


.form-signup button,
.social-account-login li a  {
    width: 100%;
    background: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 2px;
    font-size: 1rem;
    padding: 5px;
    line-height: 1.5;
    margin-top: 2rem;
}

.invalid-feedback {
    display: block;
}

#id_password1_helptext {
    display: none
}

/* Sign in form */

button.btn.btn-primary.sign-in {
    margin-top: 5px;
}

/* Social account login styles */
.social-account-login li {
    list-style-type: none;
}

ul.social-account-login {
    padding-right: 10%;
    margin-top: -12%;
}


.btn.btn-google {
    background: #cf4431;
    border-color: #cf4431;
}

.fa-google {
    margin-right: 10%;
}


/* Generic form style */
.card {
    border: none;
    background-color: transparent;
}

/* Inventory page*/

/* Inventory form */
.list-btn {
    color: #E37F4D;
    font-size: 1.5rem;
    margin-top: -5px;
}

.list-btn:hover {
    color: orange;
}

.hide {
    display: none;
}

.get-started {
    margin-top: 5%;
}

.list-items-form {
    max-width: 400px;
}


/* Itemsform */
.form-signup #add-item {
    background: #28a745;
    border: #28a745;
    border-radius: 4px;
    width: 30%;
    margin-left: 35%;
}

.form-signup #save {
    background: #dc3545;
    border: #dc3545;
    border-radius: 4px;
    width: 40%;
    margin: 15% auto 0;
    display: flex;
    justify-content: center;
}

.items-input,
.inventory-items #id_category {
    width: 80%;
}

/* Category page */

.category-container {
    background: #E37F4D;
    max-width: fit-content;
    border-radius: 0;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.category-container hr {
    margin-top: 0;
}

.form-control.category-name {
    background: #E37F4D;
    border: none;
    font-size: 1.5rem;
    color: black;
}

.edit-category-link i:hover,
.delete-category-link i:hover {
    color: #333333;
}

.edit-category-link i,
.delete-category-link i {
    color: black;
}


button.edit-category-link,
button.delete-category-link {
    font-size: 1rem;
    color: black;
}


/* Edit/delete form */
 .form-signup .saved-list p {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: black;
}

.saved-list h5 {
    margin-top: 12%;
}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Edit and delete icons */

.btn-delete {
    color: #fff;
    background: #E84610;
}

.icons {
    display: flex;
    gap: 10px;
    margin-left: 5%;
}

.edit-icon, .delete-icon{
    cursor: pointer;
    color: #333333;
}

.edit-icon:hover,
.delete-icon:hover {
    color: #E37F4D;
}


button.edit-link,
button.delete-link,
button.delete-category-link,
button.edit-category-link {
    background: none;
    border: none;
}

button.edit-link {
    margin-right: -10px;
}

/* Dashboard */

/* QR-code image container */

.qr-img {
    width: 65%;
}

.card.qr-container {
    background: #E37F4D;
    width: fit-content;
    border-radius: 0;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.card-text.qr-category {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.qr-code-image {
    display: flex;
    justify-content: center;
}

.card-body.download-share {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
    padding: 0 10px 5px;
}
.download-share i {
    color: #212529;
}

.details-btn {
    font-size: 0.8rem;
}


/* Contact form */

.contact-btn {
    margin-top: 5%;
    padding: 5px 10%;
}

/* Link styles */
.link {
    text-decoration: none;
    color: white;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: none;
}


/* Footer */

footer i {
    color: white;
    font-size: 1.2rem;
}

footer i:hover {
    color: #E37F4D;
}
